.content_container {
    margin: 0 85px;
    height: 100vh;
}
.presentation {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.presentation > div {
    flex: 1;
    justify-items: start;
    display: grid;
    align-content: center;
}
.presentation > div > h1 {
    font-size: 2.2em;
    padding-bottom: 15px;
    font-family: 'Sansita Swashed', cursive;
    margin-left: -2px;
}
.presentation > div > h2 {
    text-transform: uppercase;
    padding-bottom: 10px;
    color: darkslategrey;
}
.presentation > div > p {
    padding-bottom: 10px;
    width: 90%;
    margin-top: 10px;
}
.presentation > div > div {
    display: flex;
    padding-bottom: 10px;
    margin-top: 10px;
}
.presentation > div > div > a:first-of-type {
    background-color: teal;
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 0.9em;
    width: 95px;
    height: 40px;
    text-align: center;
    display: grid;
    align-content: center;
    color: #FFFFFF;
    margin-right: 10px;
}
.presentation > div > div > a:last-of-type {
    border: 2px solid teal;
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 0.9em;
    width: 85px;
    height: 40px;
    text-align: center;
    display: grid;
    align-content: center;
    color: teal;
}
.presentation > img {
    margin-top: 50px;
    margin-right: 25px;
    flex: 1;
}
.header {
    display: flex;
    justify-content: space-between;
    height: 18%;
}
.header > nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 500px;
}
.information_list_container {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.information_list_container > li {
    font-size: 0.8em;
    height: 40px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.information_list_container > li:last-of-type {
    background-color: royalblue;
    border-radius: 16px;
    cursor: pointer;
}
.information_list_container > li > a:hover {
    color: royalblue;
}