.content_container {
    height: 100vh;
    margin-right: 3.4%;
    margin-left: 6.68%;
}
.presentation {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}
.presentation > div {
    flex: 1;
    display: grid;
    align-content: center;
    min-width: 400px;
}
.presentation > div > h1 {
    font-size: 2.2em;
    padding-bottom: 15px;
    font-family: 'Sansita Swashed', cursive;
    margin-left: -2px;
}
.presentation > div > h2 {
    text-transform: uppercase;
    padding-bottom: 10px;
    color: darkslategrey;
}
.presentation > div > p {
    padding-bottom: 10px;
    width: 90%;
    margin-top: 10px;
}
.presentation > div > div {
    display: flex;
    padding-bottom: 10px;
    margin-top: 10px;
}
.presentation > div > div > a:first-of-type {
    background-color: #1e9791;
    /* background-color: #4987B2; */
    border: 2px solid #1e8b86;
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 0.9em;
    width: 95px;
    height: 40px;
    text-align: center;
    display: grid;
    align-content: center;
    color: #FFFFFF;
    margin-right: 10px;
    transition: 0.5s;
}
.presentation > div > div > a:last-of-type {
    border: 2px solid teal;
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 0.9em;
    width: 85px;
    height: 40px;
    text-align: center;
    display: grid;
    align-content: center;
    color: #1e9791;
    transition: 0.5s;
}
.presentation > div > div > a:last-of-type:hover {
    background-color: teal;
    border: 2px solid teal;
    color: #FFFFFF;
}
.presentation > div > div > a:first-of-type:hover {
    border: 2px solid teal;
    background: none;
    color: teal;
}
.presentation > img {
    margin-top: 50px;
    margin-right: 25px;
    flex: 1;
    min-width: 400px;
    max-width: 500px;
}
.header {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}
.header > nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 500px;
}
.information_list_container {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.information_list_container > li {
    font-size: 0.8em;
    height: 40px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.information_list_container > li:last-of-type {
    background-color: #4169E1;
    border-radius: 16px;
    cursor: pointer;
}
.information_list_container > li > a:hover {
    color: #4987B2;
}
.information_list_container > li:last-of-type > a:hover {
    color: #F5F5F5;
}

@media only screen and (max-width: 1024px) {
    .presentation {
        margin-top: 50px;
        justify-content: center;
    }
}
@media only screen and (max-width: 917px) {
    .presentation > div > h1{
        justify-self: center;
    }
    .presentation > div > h2 {
        justify-self: center;
    }
    .presentation > div > p {
        justify-self: center;
        text-align: center;
        width: 50%;
    }
    .presentation > div > div {
        justify-self: center;
    }
}
@media only screen and (max-width: 500px) {
    .presentation > img {
        min-width: 200px;
    }
}